<form action="" method="get" class="sign-up_form">
  <div class="sign-up_form">
    <label for="email">Enter your email address</label>
    <input type="email" name="email" id="email" placeholder="Email" required />
  </div>

  <div class="sign-up_form">
    <label for="password">Enter your secret password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
  </div>

  <br />
  <button type="submit">Login</button>
</form>
